/* Error: Undefined mixin.
 *     ,
 * 119 |    @include sizes(42px, 5px);
 *     |    ^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   style.scss 119:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 119 \2502     @include sizes(42px, 5px);\d\a     \2502     ^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   style.scss 119:4  root stylesheet";
}
